
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Login</h1>

    Flowbuild is a GUI tool to assist the configuraton of Openflow based Processing Pipeline for packet switching in Whitebox switches. 
	It works as the northbound application of ONOS project and uses its REST API for performing Create, Retreive and Delete operations for Flow Table, 
	Group and Meter entries for the Switches managed by ONOS controller.
	
    <hr>
    <form ng-submit="login()" name="loginForm" novalidate role="form">
      <div class="form-group">
        <label for="email">User:</label>
        <input name="email" type="text" class="form-control" id="email"
             placeholder = "onos" ng-model="email" required>
        <div class="error" >
          <span>{{emailMsg}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:
        </label>
        <input name="password" type="password" class="form-control" id="password"
             placeholder = "rocks" ng-model="password" required>
        <div class="error" >
          <span>{{passwordMsg}}</span>
        </div>
      </div>
      <button analytics-on="click" analytics-category="subscriber" analytics-event="login"
       type="submit" class="btn btn-success"> Login </button>
    </form>

    <div class="error" ng-show="errorMsg.length">
      {{errorMsg}}
    </div>

  </div>
</div>
